$color_1: #2CDA9D;
$color_2: white;
$color_3: black;
$font-family_1: Intro;
$font-family_2: IntroLight;
$font-family_3: IntroBlack;
$font-family_4: ChakraRegular;
$font-family_5: ChakraMedium;
$font-family_6: ChakraBold;
$background-color_1: #97F9F9;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100%;
	background: #1A181B;
}
.intro-section {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.intro-container {
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.title-intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	h1 {
		color: $color_1;
		font-size: 64px;
		text-shadow: 2px 5px 0px #000000;
		text-align: center;
		font-family: $font-family_1;
	}
	h2 {
		display: block;
		width: 400px;
		color: $color_1;
		font-size: 32px;
		font-weight: 600;
		line-height: 117%;
		white-space: 2px;
		text-align: center;
		font-family: $font-family_2;
	}
}
.start-btn {
	width: 150px;
	height: 50px;
	border-radius: 15px;
	padding: 12px;
	font-family: $font-family_3;
	font-size: 16px;
	border: none;
	background: #2CDA9D;
	transition: all 0.3s ease-in-out;
	&:hover {
		background-image: none;
		background-color: $background-color_1;
		scale: 1.1;
	}
}
#header-main {
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
header {
	h1 {
		color: $color_1;
		font-size: 32px;
		text-shadow: 2px 5px 0px #000000;
		text-align: center;
		font-family: $font-family_1;
		padding: 24px;
	}
}
.main-section {
	width: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.scroll-element {
	width: 600px;
	background: #fff;
	border-radius: 15px;
	transition: all 0.3s ease-in-out;
}
.card {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 24px;
}
.header-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: $font-family_4;
}
.brand {
	font-size: 24px;
	font-weight: 600;
}
.title-product {
	display: block;
	font-size: 32px;
	margin: auto;
	font-family: $font-family_5;
}
.category-product {
	font-size: 18px;
	font-weight: 500;
}
.slider {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
}
.wrapper {
	width: 500px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
}
.prev-btn {
	position: absolute;
	top: 45%;
	left: -10px;
	padding: 15px;
	border: none;
	background: none;
	cursor: pointer;
}
.next-btn {
	position: absolute;
	top: 45%;
	right: -10px;
	padding: 15px;
	border: none;
	background: none;
	cursor: pointer;
}
.slider-img {
	width: 100%;
}
.rating {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	font-size: 26px;
	font-family: $font-family_6;
	margin: auto;
}
.description-product {
	text-align: center;
	font-size: 18px;
	font-family: $font-family_5;
}
.buy-btn {
	width: 200px;
	height: 60px;
	border-radius: 11px;
	background: #1A181B;
	border: none;
	margin: auto;
	transition: all 0.3s ease-in-out;
	color: $color_2;
	&:hover {
		background: #00FEA5;
		scale: 1.1;
		color: $color_3;
	}
}
.active {
	background: #3E8989;
}
.price {
	text-align: center;
	font-family: $font-family_6;
	font-size: 32px;
}
